
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background: linear-gradient(45deg, #3498db, #9b59b6);
}

h1 {
    font-size: 70px;
    padding: 40px;
    font-weight: 100px;
    margin: 100px 0 30px;
    text-align: center;
    color: yellowgreen;
    font-family: 'Futura' ,sans-serif;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputDiv .input {
    padding: 20px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 500px;
    font-size: 20px;
    margin: 10px;
    border-radius: 25px;
}

.addButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #fff;
    color:#fff;
    margin-left: 20px;
    background-color:  cornflowerblue;
    cursor: pointer;
}

.addButton:hover {
    opacity: 0.8;
}

.container-list {
    width: 50%;
    text-align: center;
    margin: 20px auto;  
}

.itemInput {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 350px;
    font-size: 20px;
}

.doneBtn {
    font-size: 17px;
    margin-left: 70px;
    background: none;
    outline: none;
    color: yellowgreen;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.editBtn {
    font-size: 17px;
    margin-left: 100px;
    background: none;
    outline: none;
    color: cornflowerblue;
    border: none;
    cursor: pointer;
}

.deleteBtn {
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    background: none;
    outline: none;
    color: coral;
    border: none;
    cursor: pointer; 
}

 li {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Futura' ,sans-serif;
    list-style-type: none;
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
    visibility: hidden;
    display: flex;
    justify-content: center;
  }
  
  .modal-show {
    visibility: visible;
  }

  .close {
      margin-top: 5px;
    font-size: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-weight: bold;
  }

  #popupInput {
      font-weight: bold;
      padding: 10px;
      width: 500px;
      height: 50px;
      background-color: yellowgreen;
      border: none;
  }

  .addBtn {
    padding: 3px;
   background-color: coral;
   font-weight: bold;
   border: none;
   font-family: 'Futura' ,sans-serif;
  }

  input {
      margin-right: 30px;
  }

  span {
      color: white; 
  }

 